/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul, ol menu{
    list-style: none;
    color: currentColor;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    width: 100%;
}
/* LAYOUT */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container-lg{
    margin: 0 auto;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 900px;
}
.container-sm{
    margin: 0 auto;
    max-width: 700px;

}
.col-6{
    width: calc(6 * 100% / 12);
}
.col-40{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.col-40 > *{
    padding: 16px 0;
}
.col-60{
    width: 60%;
   
}
.row{
    display: flex;
    justify-content: space-between;
}
.page__header li{
    display: inline-block;
    font-size: 20px; 
    padding-left: 12px;
}
.bg-B4{
    background-color: #B4D0E7; 


}
.mt-0{
    margin-top: auto;
}
.logo{
    width: 90px;
    line-height: 40px;
   
    
    }
    
.btn{
    line-height: 5px;
    padding: 16px;
    

}

/* STYLE */
.bg-blue{
    background-color: #0061ff;
    color: white;
    border: transparent;
}
.section{
    padding-bottom: 20px;
}
 











/* UTILITY */



/* DEBUG */


.debug  .row{
    /* border: 2px solid red; */
    padding: 12px;
}
.debug   .col-40{
    /* border: 2px solid blue; */
    padding: 20px;
}
.debug .col-30 > *{
    /* border: 1px dotted orangered; */
}
.debug  .page__main{
    /* border: 2px solid black; */
    padding: 20px;
}
.debug .container{
    /* border: 2px solid #333; */
    padding: 20px;
}