/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul, ol menu{
    list-style-type: none;
    color: currentColor;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width: 100%;
}

/* LAYOUT */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container, .container-language{
    max-width: 1200px;
}
.container-sm{
    max-width: 1000px;
    
}
.container-sm, .container, .container-lg, .container-language{
    margin: 0 auto;
    width: 100%;
    
}

.col{
    width: 100%;
    padding: 20px;
}
.col-100{
    width: 100%;
    padding: 90px 70px;
}
.col-6{
    width: calc(6 * 100% / 12);
}
.col-4{
    width: calc(4 * 100% / 12);
}
.col-70{
    width: 70%;
    margin-top: 12px;

}
.col-30{
    width: 30%;
    margin-top: 12px;
    
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-17{
    width: 17%;
}
.flex{
    display: flex;
}
.felx-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.logo{
    width: 80px;
    line-height: 40px;
}
.btn{
    line-height: 5px;
    padding: 0 10px;
}
.btn-secondary{
    padding: 10px 32px;
    
}
.btn-thrd{
    padding: 10px 10px;

}
.btn-trasparent{
    border: 2px solid grey;
    padding: 6px 12px;
    background-color: transparent;
}
.btn-white{
    background-color: white;
    color: black;
    border: transparent;
}
.section__hero .container .row >.col-40{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.price{
    font-weight: bold;
}

.fw-900{
    font-size: 50px;
    font-weight: 900;
}

.link{
    text-decoration: underline;
    color: #1800F1;
}
hr{
    max-width: 60px;
}

/* PAGE__HEADER */
.page__header ul > *{
    display: inline-block;
    
    
}
.page__header .flex{
    justify-content: space-between;
    align-items: center;
}
.page__header li > a:not(.logo){
    
    line-height: 40px ;
    padding: 8px;
}
.page__header .row{
    padding: 12px;
}
.page__header .container-lg{
    padding:12px 0;

}

/* SECTION__HERO */

.section__hero p{
    font-size: 20px;
}
.section__hero h1{
    font-size: 64px;
}
/* SECTION-BUISNESS */
 .section__buisness{
    padding-top: 32px;
} 
.section__buisness .container-sm + .container-sm{
    margin-top: 36px;
}
.card-sub {
    border: 1px solid grey;
}
.card__header{
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid grey;
}
.section__buisness .row >*{
    padding: 0 25px;
}
.section__buisness .row{
    row-gap: 50px;
}
.section__buisness .Sub{
    padding-left: 32px;
}
.col-4 .card-sub{
    height: 100%;

}
.section__buisness .col .body__body p{
    max-width: 500px;
}
.section__buisness .card__body .body__body ul{
    padding-bottom: 20px;
    
}
.section__buisness .card__body h4{
    padding-left: 10px;
}
.section__buisness .card__body  .header__body > *:not(.col){ 
    padding: 12px 12px;
    
}
.section__buisness .footer__body, .body__body{
    padding: 10px;
}
.section__buisness .footer__body, li{
    padding-top: 10px;
}
.section__buisness .header__body, .body__body{
    padding-bottom: 20px;
}
.section__buisness li{
    display: flex;
    gap: 12px;
}
.section__buisness .col-4 .btn-secondary{
    width: 100%;
}
.section__buisness .col .header__body{
    display: flex;
}

/* PARTNER */
.partner{
    padding-top: 32px;
}
.partner .row >*{
    padding: 20px;
}
.partner .col-40 > h1{
    font-size: 32px;
}
.partner .col-40 > *:not(.btn-trasparent){
    padding:  12px ;
}

/*  DROPBOX-BUISNESS */
.dropbox-buisness{
    padding-top: 64px;
}
.dropbox-buisness .row > *{
    flex-direction: row;
}
.dropbox-buisness h1{
    padding-left: 40px;
    font-size: 32px;
}
.dropbox-buisness .row h2{
    font-size: 24px;
}
.dropbox-buisness .row .col-4 h2{
    padding-bottom: 18px;
}
.dropbox-buisness .row .col-4{
    padding: 12px;
}

/*  USERS */
.users{
    
    margin-top: 150px;
    margin-bottom: 100px;
}
.users .container-sm{
    padding-left: 32px;
}
.users .col-50 > h1{
    font-size: 32px;
}
.users h1 {
    padding-bottom: 24px;
}

/* DESIGNIT */
.designit  .middle-square >*:not(hr){
    padding: 20px; 
    
}
.middle-square{
    background-color: #dedede;
}
.designit .col-40 .btn-white{
    padding: 12px 0;
}
.designit .logo-designit{
    width: 200px;
}

/* SECTION-BUILDING */
.section__building{
    padding: 20px; 
}
.section__building .row .col-40{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section__building .col-70 > h2{
    font-size: 32px;
    max-width: 60%;
}
.section__building h1{
    font-size: 70px;
    
}

/* ASK QUESTION */
.ask__question{
    margin-top: 50px ;
}
.ask__question .container-sm div {
    border-top: 1px solid;
    text-align: start;
    padding: 28px 0;
}
.ask__question .container-sm {
    padding: 18px ; 
}
.ask__question .container-sm > h1{
    padding-bottom: 24px;
    font-size: 32px;
}
/* PAGE__FOOTER */
.page__footer {
    background-color: black;
    color:white;
}




/* UTILITY */
.space-btwn{
    justify-content: space-between;
}
.mt-auto{
    margin-top: auto;
}
.pd-50{
padding: 50px;
}


/* STYLE */
.bg-blue{
    background-color: #0061ff;
    color: white;
    border: transparent;
}
.bg-B4{
    background-color: #B4D0E7; 
}
.bg-A2{
    background-color: #A2D39B; 

}

/* DEBUG */
.debug  .row{
     /* border: 2px solid red;   */
}
.debug   .col-4{
      /* border: 1px solid blue;    */
    /* padding: 20px; */
}
.debug .col-30 > *{
    /* border: 1px dotted orangered; */
}
.debug .col{
    /* border: 1px solid rgb(222, 21, 31);  */

}
.debug  .page__main{
    /* border: 2px solid black; */
    /* padding: 20px; */
}
.debug .container-sm{
    /* border: 2px solid #333;  */
    /* padding: 20px; */
}
.debug .card__header{
 /* border: 1px solid violet;  */
}
.debug .card__body{
    /* border: 1px solid green;  */
/*  */
}
.debug .card__body header, body, footer{
     /* border: 2px solid purple;  */
}
.debug .designit .col-100 {
     border: 1px solid orangered; 
}
.debug .page__footer .col-17{
    border: 1px solid violet;
}